*{margin:0 auto;padding:0}a{text-decoration:none;color:#196fb8}.clearfix:after{display:block;content:".";visibility:hidden;height:0;clear:both;float:none}.tip{margin:.5em .5em 0;padding:.2em;border:1px solid #fbaf5d;background-color:#fef57e;color:#f68e56}.tip.center{text-align:center}
body {
	background:#000000;
	 
}